# Goodreads Shelf Normalization and Clustering

This notebook focuses on cleaning and normalizing reader-created shelf tags from Goodreads data.
We'll group similar/synonymous shelf names and assign umbrella terms for each cluster.

## Objectives
1. Load and explore shelf data structure
2. Analyze shelf frequency and patterns
3. Implement clustering/normalization logic
4. Validate and export normalized shelf mappings

In [2]:
import pandas as pd
import numpy as np
import logging
import os

# Set up logging
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

### üîÑ Dataset Loading and Column Management

# Load dataset - using absolute path from project root
project_root = os.path.abspath("../../../")  # Go up 3 levels from src/data_audit/notebooks/
main_final_path = os.path.join(project_root, "data", "processed", "romance_books_main_final.csv")

# Verify file exists before loading
if not os.path.exists(main_final_path):
    raise FileNotFoundError(f"Dataset not found at: {main_final_path}")

main_final = pd.read_csv(main_final_path)
logger.info(f"Loaded main final dataset: {len(main_final)} books")

# Drop specified columns
columns_to_drop = ['series_works_count', 'popular_shelves', 'genres', 'decade', 
                   'book_length_category', 'rating_category', 'popularity_category', 
                   'has_collection_indicators']
main_final = main_final.drop(columns=columns_to_drop, errors='ignore')
logger.info(f"Dropped columns: {[col for col in columns_to_drop if col in main_final.columns]}")

# Clean series_works_count_numeric: replace NaN with 'stand_alone'
main_final['series_works_count_numeric'] = main_final['series_works_count_numeric'].fillna('stand_alone')
logger.info(f"Replaced NaN values in series_works_count_numeric with 'stand_alone'")

### üìã Basic Dataset Information

# Display basic info
print(f"Dataset shape after dropping columns: {main_final.shape}")
print(f"\nRemaining column names:")
print(main_final.columns.tolist())
print(f"\nData types:")
print(main_final.dtypes)

### üîç Detailed Column Investigation

# Define ID columns to exclude from numerical analysis
id_columns = ['work_id', 'book_id_list_en', 'author_id', 'series_id']

for col in main_final.columns:
    print(f"\n{'='*60}")
    print(f"COLUMN: {col}")
    print(f"{'='*60}")
    
    # Basic info
    print(f"Data type: {main_final[col].dtype}")
    print(f"Non-null count: {main_final[col].count()} / {len(main_final)} ({main_final[col].count()/len(main_final)*100:.1f}%)")
    print(f"Null count: {main_final[col].isnull().sum()} ({main_final[col].isnull().sum()/len(main_final)*100:.1f}%)")
    
    # Mark ID columns
    if col in id_columns:
        print("üîë ID COLUMN - Excluded from numerical analysis")
    
    # Type-specific analysis
    if main_final[col].dtype in ['object']:
        print(f"Unique values: {main_final[col].nunique()}")
        print(f"Sample values:")
        sample_values = main_final[col].dropna().head(10).tolist()
        for i, val in enumerate(sample_values):
            val_str = str(val)
            if len(val_str) > 100:
                val_str = val_str[:100] + "..."
            print(f"  [{i+1}] {val_str}")
        
        # Check for list-like strings
        if any(main_final[col].dropna().astype(str).str.startswith('[').head(100)):
            print("  ‚ö†Ô∏è  Contains list-like strings - may need parsing")
        
        # Value length distribution for string columns
        lengths = main_final[col].dropna().astype(str).str.len()
        print(f"String length stats: min={lengths.min()}, max={lengths.max()}, mean={lengths.mean():.1f}")
        
    elif main_final[col].dtype in ['int64', 'float64'] and col not in id_columns:
        print(f"üìä NUMERICAL COLUMN - Valid for analysis")
        print(f"Basic stats:")
        stats = main_final[col].describe()
        for stat_name, stat_val in stats.items():
            print(f"  {stat_name}: {stat_val}")
        
        # Check for potential categorical numeric columns
        unique_count = main_final[col].nunique()
        if unique_count <= 20:
            print(f"Value counts (low cardinality - {unique_count} unique values):")
            vc = main_final[col].value_counts().head(10)
            for val, count in vc.items():
                print(f"  {val}: {count} ({count/len(main_final)*100:.1f}%)")
    
    elif main_final[col].dtype in ['int64', 'float64'] and col in id_columns:
        print(f"üîë ID COLUMN - Basic stats skipped")
        unique_count = main_final[col].nunique()
        print(f"Unique values: {unique_count}")
        
    elif main_final[col].dtype in ['bool']:
        print(f"Boolean distribution:")
        vc = main_final[col].value_counts()
        for val, count in vc.items():
            print(f"  {val}: {count} ({count/len(main_final)*100:.1f}%)")

### üìä Sample Data Preview

main_final.head()

INFO:__main__:Loaded main final dataset: 53349 books
INFO:__main__:Dropped columns: []
INFO:__main__:Replaced NaN values in series_works_count_numeric with 'stand_alone'

Dataset shape after dropping columns: (53349, 19)

Remaining column names:
['work_id', 'book_id_list_en', 'title', 'publication_year', 'num_pages_median', 'description', 'language_codes_en', 'author_id', 'author_name', 'author_average_rating', 'author_ratings_count', 'series_id', 'series_title', 'ratings_count_sum', 'text_reviews_count_sum', 'average_rating_weighted_mean', 'genres_str', 'shelves_str', 'series_works_count_numeric']

Data types:
work_id                           int64
book_id_list_en                  object
title                            object
publication_year                  int64
num_pages_median                float64
description                      object
language_codes_en                object
author_id                         int64
author_name                      object
author_average_rating           float64
author_ratings_count              int64
series_id                        object
series_title                     object
ratings_count_sum                 int64
text_reviews_count_sum            int64
average_rating_weighted_mean    float64
genres_str                       object
shelves_str                      object
series_works_count_numeric       object
dtype: object

============================================================
COLUMN: work_id
============================================================
Data type: int64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üîë ID COLUMN - Excluded from numerical analysis
üîë ID COLUMN - Basic stats skipped
Unique values: 53349

============================================================
COLUMN: book_id_list_en
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üîë ID COLUMN - Excluded from numerical analysis
Unique values: 53349
Sample values:
  [1] ['9416', '227650', '9423', '6088685', '19826270', '2574859', '13576133', '736396', '8724433', '32084...
  [2] ['3462', '6338758', '289110', '6386960', '17787192']
  [3] ['110391', '6077588', '25322247', '1859059', '298367', '5466440', '11793041', '23460960', '32177084'...
  [4] ['861326', '6077587', '25322244', '353066', '9138773', '7961903', '32812329']
  [5] ['22649', '22655', '31107', '6560878', '2576684', '12863586']
  [6] ['469901', '11725217', '847901', '759501', '5410943']
  [7] ['815150', '112753', '8130560', '6988762', '1982705', '344553', '22093943']
  [8] ['89160', '6699943', '268595', '6146611', '7909185', '3062807', '2494210', '3062808', '6994134', '30...
  [9] ['17781', '682359', '608949', '2875448']
  [10] ['213975', '6660825', '531717', '10334321', '2097994', '8018051', '13553494', '1280346', '3062909', ...
  ‚ö†Ô∏è  Contains list-like strings - may need parsing
String length stats: min=8, max=1049, mean=21.0

============================================================
COLUMN: title
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
Unique values: 46352
Sample values:
  [1] Confessions of a Shopaholic
  [2] The Rescue
  [3] The Duke and I
  [4] The Viscount Who Loved Me
  [5] Bookends
  [6] Mr. Perfect
  [7] The Highlander's Touch
  [8] Judgment in Death
  [9] Heart of the Sea
  [10] Witness in Death
String length stats: min=1, max=128, mean=16.5

============================================================
COLUMN: publication_year
============================================================
Data type: int64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üìä NUMERICAL COLUMN - Valid for analysis
Basic stats:
  count: 53349.0
  mean: 2012.727736227483
  std: 3.2824543292995014
  min: 2000.0
  25%: 2012.0
  50%: 2013.0
  75%: 2015.0
  max: 2017.0
Value counts (low cardinality - 18 unique values):
  2013: 8998 (16.9%)
  2014: 8565 (16.1%)
  2015: 7072 (13.3%)
  2012: 6318 (11.8%)
  2016: 5778 (10.8%)
  2017: 3682 (6.9%)
  2011: 3614 (6.8%)
  2010: 2172 (4.1%)
  2009: 1663 (3.1%)
  2008: 1206 (2.3%)

============================================================
COLUMN: num_pages_median
============================================================
Data type: float64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üìä NUMERICAL COLUMN - Valid for analysis
Basic stats:
  count: 53349.0
  mean: 260.72378113929034
  std: 100.93586926638137
  min: 90.0
  25%: 187.5
  50%: 256.0
  75%: 328.0
  max: 980.0

============================================================
COLUMN: description
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
Unique values: 53316
Sample values:
  [1] Unabridged audible download; approximately 11 hours 45 minutes If you've ever paid off one credit ca...
  [2] When confronted by raging fires or deadly accidents, volunteer fireman Taylor McAden feels compelled...
  [3] Can there be any greater challenge to London's Ambitious Mamas than an unmarried duke? --Lady Whistl...
  [4] Alternate cover for ISBN: 0380815575/9780380815579 1814 promises to be another eventful season, but ...
  [5] On the heels of her national bestsellers Jemima Jand Mr. Maybe, British sensation Jane Green deliver...
  [6] What would make the perfect man?That's the delicious topic heating up the proceedings at a certain t...
  [7] A Warrior of Immortal Powers He was a mighty Scottish warrior who lived in a world bound by ancient ...
  [8] 'She stood in Purgatory and studied death. The blood and the gore of it, the ferocity of its glee. I...
  [9] The breathtaking conclusion to the New York Times bestselling trilogy that began with Jewels of the ...
  [10] LENGTH -- 10 hrs and 51 mins Opening night at New York's New Globe Theater turns from stage scene to...
String length stats: min=4, max=14363, mean=979.4

============================================================
COLUMN: language_codes_en
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
Unique values: 1
Sample values:
  [1] eng
  [2] eng
  [3] eng
  [4] eng
  [5] eng
  [6] eng
  [7] eng
  [8] eng
  [9] eng
  [10] eng
String length stats: min=3, max=3, mean=3.0

============================================================
COLUMN: author_id
============================================================
Data type: int64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üîë ID COLUMN - Excluded from numerical analysis
üîë ID COLUMN - Basic stats skipped
Unique values: 17810

============================================================
COLUMN: author_name
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
Unique values: 17810
Sample values:
  [1] Sophie Kinsella
  [2] Nicholas Sparks
  [3] Julia Quinn
  [4] Julia Quinn
  [5] Jane Green
  [6] Linda Howard
  [7] Karen Marie Moning
  [8] J.D. Robb
  [9] Nora Roberts
  [10] J.D. Robb
String length stats: min=2, max=50, mean=12.9

============================================================
COLUMN: author_average_rating
============================================================
Data type: float64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üìä NUMERICAL COLUMN - Valid for analysis
Basic stats:
  count: 53349.0
  mean: 3.9088455266265534
  std: 0.25981381851075186
  min: 1.27
  25%: 3.75
  50%: 3.92
  75%: 4.08
  max: 5.0

============================================================
COLUMN: author_ratings_count
============================================================
Data type: int64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üìä NUMERICAL COLUMN - Valid for analysis
Basic stats:
  count: 53349.0
  mean: 48181.19623610564
  std: 193397.0028438366
  min: 1.0
  25%: 843.0
  50%: 5101.0
  75%: 25548.0
  max: 5280268.0

============================================================
COLUMN: series_id
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üîë ID COLUMN - Excluded from numerical analysis
Unique values: 36066
Sample values:
  [1] 165735.0
  [2] stand_alone
  [3] 153045.0
  [4] 144491.0
  [5] stand_alone
  [6] stand_alone
  [7] 288256.0
  [8] 145625.0
  [9] 167116.0
  [10] 162517.0
String length stats: min=8, max=11, mean=9.0

============================================================
COLUMN: series_title
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
Unique values: 17013
Sample values:
  [1] Shopaholic
  [2] stand_alone
  [3] Bridgertons
  [4] Bridgertons
  [5] stand_alone
  [6] stand_alone
  [7] Highlander
  [8] In Death
  [9] Gallaghers of Ardmore
  [10] In Death
String length stats: min=2, max=76, mean=13.7

============================================================
COLUMN: ratings_count_sum
============================================================
Data type: int64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üìä NUMERICAL COLUMN - Valid for analysis
Basic stats:
  count: 53349.0
  mean: 1734.0819134379276
  std: 14322.839048619157
  min: 1.0
  25%: 48.0
  50%: 182.0
  75%: 802.0
  max: 1686868.0

============================================================
COLUMN: text_reviews_count_sum
============================================================
Data type: int64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üìä NUMERICAL COLUMN - Valid for analysis
Basic stats:
  count: 53349.0
  mean: 141.86205927008942
  std: 739.997994905451
  min: 0.0
  25%: 11.0
  50%: 32.0
  75%: 97.0
  max: 74298.0

============================================================
COLUMN: average_rating_weighted_mean
============================================================
Data type: float64
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
üìä NUMERICAL COLUMN - Valid for analysis
Basic stats:
  count: 53349.0
  mean: 3.9148518636413057
  std: 0.34712338801084197
  min: 1.27
  25%: 3.71
  50%: 3.93
  75%: 4.15
  max: 5.0

============================================================
COLUMN: genres_str
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
Unique values: 137
Sample values:
  [1] fiction,romance,young adult
  [2] fiction,mystery,romance,young adult
  [3] biography,fiction,historical fiction,history,romance
  [4] biography,fiction,historical fiction,history,romance
  [5] fiction,romance
  [6] fiction,mystery,romance
  [7] biography,fantasy,fiction,historical fiction,history,paranormal,romance
  [8] fantasy,fiction,mystery,paranormal,romance
  [9] biography,fantasy,fiction,historical fiction,history,mystery,paranormal,romance
  [10] fantasy,fiction,mystery,paranormal,romance
String length stats: min=7, max=107, mean=28.0

============================================================
COLUMN: shelves_str
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
Unique values: 53346
Sample values:
  [1] 3-stars,5-stars,abandoned,adult-fiction,audio,audiobook,audiobooks,beach-read,beach-reads,book-club,...
  [2] 2000,2001,2012-reads,adult,adult-fiction,already-read,audio,audio-book,audio-books,audiobook,audiobo...
  [3] 19th-century,1st-in-series,2012-reads,2016-reads,3-stars,4-stars,5-stars,adult,adult-fiction,adult-r...
  [4] 1,19th-century,2016-reads,3-stars,4-stars,5-stars,adult,adult-fiction,adult-romance,all-time-favorit...
  [5] 2002,2003,2004,2005,2006,5-stars,abandoned,adult,adult-fiction,audiobooks,beach-read,beach-reads,bea...
  [6] 3-stars,4-stars,5-star,5-stars,aar-top-100,action,adult,adult-fiction,adult-romance,all-time-favorit...
  [7] 4-star,4-stars,5-stars,adult,adult-fiction,adult-romance,alpha-male,audible,audio,audio-book,audio-b...
  [8] 2015-reads,4-stars,5-stars,action,adult,adult-fiction,audible,audio,audio-book,audio-books,audiobook...
  [9] adult-fiction,adult-romance,audible,audio,audiobook,audiobooks,author-nora-roberts,books,books-i-hav...
  [10] 4-stars,5-stars,action,adult,adult-fiction,audible,audio,audio-book,audio-books,audiobook,audiobooks...
String length stats: min=7, max=2283, mean=1019.0

============================================================
COLUMN: series_works_count_numeric
============================================================
Data type: object
Non-null count: 53349 / 53349 (100.0%)
Null count: 0 (0.0%)
Unique values: 70
Sample values:
  [1] 12.0
  [2] stand_alone
  [3] 19.0
  [4] 19.0
  [5] stand_alone
  [6] stand_alone
  [7] 12.0
  [8] 115.0
  [9] 6.0
  [10] 115.0
String length stats: min=3, max=11, mean=5.7

,work_id,book_id_list_en,title,publication_year,num_pages_median,description,language_codes_en,author_id,author_name,author_average_rating,author_ratings_count,series_id,series_title,ratings_count_sum,text_reviews_count_sum,average_rating_weighted_mean,genres_str,shelves_str,series_works_count_numeric
0,3237433,"['9416', '227650', '9423', '6088685', '1982627...",Confessions of a Shopaholic,2000,320.0,Unabridged audible download; approximately 11 ...,eng,6160,Sophie Kinsella,3.74,2169284,165735.0,Shopaholic,555675,10488,3.62,"fiction,romance,young adult","3-stars,5-stars,abandoned,adult-fiction,audio,...",12.0
1,1268663,"['3462', '6338758', '289110', '6386960', '1778...",The Rescue,2000,372.0,When confronted by raging fires or deadly acci...,eng,2345,Nicholas Sparks,4.06,4600277,stand_alone,stand_alone,148062,3150,4.10,"fiction,mystery,romance,young adult","2000,2001,2012-reads,adult,adult-fiction,alrea...",stand_alone
2,846763,"['110391', '6077588', '25322247', '1859059', '...",The Duke and I,2000,371.0,Can there be any greater challenge to London's...,eng,63898,Julia Quinn,3.98,567004,153045.0,Bridgertons,61848,2444,4.11,"biography,fiction,historical fiction,history,r...","19th-century,1st-in-series,2012-reads,2016-rea...",19.0
3,3363,"['861326', '6077587', '25322244', '353066', '9...",The Viscount Who Loved Me,2000,381.0,Alternate cover for ISBN: 0380815575/978038081...,eng,63898,Julia Quinn,3.98,567004,144491.0,Bridgertons,38086,1404,4.19,"biography,fiction,historical fiction,history,r...","1,19th-century,2016-reads,3-stars,4-stars,5-st...",19.0
4,2363,"['22649', '22655', '31107', '6560878', '257668...",Bookends,2000,368.0,On the heels of her national bestsellers Jemim...,eng,12915,Jane Green,3.58,502125,stand_alone,stand_alone,34139,842,3.70,"fiction,romance","2002,2003,2004,2005,2006,5-stars,abandoned,adu...",stand_alone

In [ ]:
! pip install rapidfuzz
! pip install Unidecode

In [ ]:
# =============================================================================
# CELL: UNIVERSAL STRING CANONICALIZATION (v1.1)
# =============================================================================
import re, time, json, unicodedata
from collections import defaultdict
from pathlib import Path
import pandas as pd
from rapidfuzz import fuzz  # pip install rapidfuzz
from unidecode import unidecode  # pip install Unidecode

print(f"\n[{time.strftime('%H:%M:%S')}] üîß CELL 2: UNIVERSAL STRING CANONICALIZATION (v1.1)")
print("=" * 70)

CANONICAL_CONFIG = {
    'normalize_case': True,
    'remove_extra_whitespace': True,
    'standardize_separators': True,
    'fold_accents': True,
    'map_variants': True,        # unify common aliases
    'min_token_length': 1,
    'max_token_length': 100
}
print("üìã CANONICALIZATION CONFIG:", CANONICAL_CONFIG)

# House-style replacements (extend as needed)
ALIASES = {
    "&": " and ",
    "ya": "young adult",
    "sci fi": "scifi",
    "sci-fi": "scifi",
    "favourite": "favorite",
    "rom com": "romcom",
}
RATING_RE = re.compile(r"\b([1-5])\s*[- ]?\s*star(s)?\b")
YEARLIST_RE = re.compile(r"\b(19|20)\d{2}(-reads)?\b")
STATUS_SET = {"to read","to-read","currently reading","currently-reading","did not finish","dnf","abandoned"}
FORMAT_SET = {"audiobook","audio book","audio","audible","ebook","e-book","kindle","paperback","hardcover"}

def _normalize(s: str) -> str:
    if not isinstance(s, str): return ""
    x = s.strip()
    if CANONICAL_CONFIG['fold_accents']:
        x = unidecode(x)  # ASCII fold (caf√© -> cafe)
    if CANONICAL_CONFIG['normalize_case']:
        x = x.lower()
    if CANONICAL_CONFIG['standardize_separators']:
        x = re.sub(r"[-_/]+", " ", x)
        x = re.sub(r"\s+", " ", x)
    if CANONICAL_CONFIG['map_variants']:
        # light-weight replacements
        for k, v in ALIASES.items():
            x = x.replace(k, v)
        x = re.sub(RATING_RE, r"rating-\1", x)  # 5 stars -> rating-5
    return x.strip()

def canonicalize_tag(tag: str) -> str:
    x = _normalize(tag)
    if not x: return ""
    # collapse obvious plurals (books -> book) while leaving proper nouns mostly intact
    x = re.sub(r"\b(romances)\b", "romance", x)
    x = re.sub(r"\b(historical romances)\b", "historical romance", x)
    # keep within length constraints
    if not (CANONICAL_CONFIG['min_token_length'] <= len(x) <= CANONICAL_CONFIG['max_token_length']):
        return ""
    return x

# --- Vectorized extraction of shelves/genres ---
def _split_comma_series(series: pd.Series) -> pd.Series:
    return series.fillna("").astype(str).str.split(",").explode().str.strip().replace("", pd.NA).dropna()

genres_series = _split_comma_series(main_final['genres_str'])
shelves_series = _split_comma_series(main_final['shelves_str'])

unique_genres = pd.Index(genres_series.unique())
unique_shelves = pd.Index(shelves_series.unique())

canon_genres = pd.Series({g: canonicalize_tag(g) for g in unique_genres})
canon_shelves = pd.Series({s: canonicalize_tag(s) for s in unique_shelves})

# Drop empties and compute compression
canon_genres = canon_genres[canon_genres != ""]
canon_shelves = canon_shelves[canon_shelves != ""]
unique_canonical_genres = pd.Index(canon_genres.unique())
unique_canonical_shelves = pd.Index(canon_shelves.unique())

genre_compression_ratio = len(unique_canonical_genres) / len(unique_genres) if len(unique_genres) else 1.0
shelf_compression_ratio = len(unique_canonical_shelves) / len(unique_shelves) if len(unique_shelves) else 1.0

print("\nüìä CANONICALIZATION RESULTS")
print("-"*40)
print(f"Genres:   original={len(unique_genres):,}  canonical={len(unique_canonical_genres):,}  compression={genre_compression_ratio:.3f}")
print(f"Shelves:  original={len(unique_shelves):,} canonical={len(unique_canonical_shelves):,} compression={shelf_compression_ratio:.3f}")

# Persist mappings
outputs_dir = Path("romance-novel-nlp-research/src/eda_analysis/outputs")
outputs_dir.mkdir(parents=True, exist_ok=True)

pd.DataFrame({'original': canon_genres.index, 'canonical': canon_genres.values}).to_csv(outputs_dir/"genre_canonical_mappings.csv", index=False)
pd.DataFrame({'original': canon_shelves.index, 'canonical': canon_shelves.values}).to_csv(outputs_dir/"shelf_canonical_mappings.csv", index=False)

meta = {
  'timestamp': time.strftime('%Y-%m-%d %H:%M:%S'),
  'config': CANONICAL_CONFIG,
  'stats': {
      'genres': {
          'original_count': int(len(unique_genres)),
          'canonical_count': int(len(unique_canonical_genres)),
          'compression_ratio': float(genre_compression_ratio),
          'duplicates_eliminated': int(len(unique_genres)-len(unique_canonical_genres)),
      },
      'shelves': {
          'original_count': int(len(unique_shelves)),
          'canonical_count': int(len(unique_canonical_shelves)),
          'compression_ratio': float(shelf_compression_ratio),
          'duplicates_eliminated': int(len(unique_shelves)-len(unique_canonical_shelves)),
      }
  }
}
with open(outputs_dir/"canonicalization_metadata.json","w",encoding="utf-8") as f:
    json.dump(meta, f, indent=2, ensure_ascii=False)

print(f"‚úÖ Saved mappings + metadata in {outputs_dir}")